:root {
  --backgroundColorBlack: #2f303a;
  --highlightColor: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  border-radius: 4px;
}

body {
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 1600px;
    margin-inline: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
}

.section{
  margin-inline: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.body .section+.section{
  margin-top: 0px;
  padding-top: 94px;
}


.paddingKostyl{
  padding-bottom: 0px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.logo span {
  color: var(--highlightColor);
}
.logo a {
  text-decoration: none;
}
.topLogo a {
  color: #000000;
}
.bottomLogo a {
  color: #ffffff;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 00.02em;
}
.sub-title {
  margin-bottom: 10px;
}
/*-----head-----*/

.header {
  background-color: #ececec;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-inline: 215px;
}

.mainBox {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-nav {
  display: flex;
  margin-left: 93px;
}
.menu-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.menu-nav a:hover {
  color: var(--highlightColor);
}
.menu-nav a:focus {
  color: var(--highlightColor);
}
.menu-nav li {
  text-decoration: none;
}
.menu-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;

  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
}
.contacts .item:not(:last-child) {
  margin-right: 50px;
}
.contacts a:hover {
  color: var(--highlightColor);
}
.contacts a:focus {
  color: var(--highlightColor);
}

/*-----body-----*/

.hat {
  background-color: var(--backgroundColorBlack);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hat button {
  width: 200px;
  height: 50px;
  margin-top: 40px;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--highlightColor);
}
.hat button:hover,
.hat button:focus {
  color: var(--backgroundColorBlack);
  background-color: #ffffff;
}

.hat h1 {
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;

  letter-spacing: 0.06em;
  text-align: center;
}

.specifications {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.specifications li {
  text-decoration: none;
  display: block;
  margin-left: 30px;
  max-width: 270px;
}
.specifications h3 {
  font-weight: 700;
  line-height: 171%;
  color: #212121;
  font-size: 14px;
  font-style: normal;
}
.specifications p {
  font-weight: 400;
  line-height: 171%;
  color: #757575;
  font-size: 14px;
  font-style: normal;
}

.activities {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.activities li {
  margin-left: 30px;
  display: inline-block;
}
.activities h2 {
  font-weight: 700;
  font-size: 36px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}
.team li {
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  margin-left: 30px;
}
.team p {
  font-weight: normal;
  font-size: 16px;
  color: #757575;
  line-height: 60px;
}
.team h4 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.teamSectionFIx{
  background-color: #f5f3fa;
}

/*-----------portfolio------------*/
.portfolioContainerFix{
  padding-top: 94px;
  padding-bottom: 94px;
}

.selection-porfolio{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.selection-porfolio li:not(:last-child) {
  margin-right:  8px;
}
.selection-porfolio button {
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f3fa;
  color: #212121;
  text-align: center;

  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-size: 16px;

  border:none;
  padding-inline: 22px;
  padding-bottom: 6px;
  padding-top: 6px;
}
.selection-porfolio button:hover {
  background-color: var(--highlightColor);
  color: #ffffff;
}
.selection-porfolio button:focus {
  background-color: var(--highlightColor);
  color: #ffffff;
}

.selection-menu {
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
}
.selection-menu li {
  text-decoration: none;
  background-color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;

  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.textBoxForPortfolio{
  margin-left: 24px;
  margin-top: 20px;
}


.selection-menu h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.selection-menu p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;

  margin-top: 4px;
}

/*-----footer-----*/

.footer {
  background-color: var(--backgroundColorBlack);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 215px;
  height: 252px;
}

.footer a {
  text-decoration: none;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 24px;
  padding: 0px;
  margin-top: 20px;
}
.address li+li{
  margin-top: 9px;
}
.address a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.address a:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.address span {
  color: #ffffff;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
}
.address p {
  color: #ffffff;
}
