:root {
  --backgroundColorBlack: #2f303a;
  --highlightColor: #2196f3;
}
.container{
padding-left: 215px;
padding-right: 215px;
margin-left: auto;
margin-right: auto;
}
.header {
  background-color: #ececec;
  margin-left: auto;
  margin-right: auto;
  
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.logo span {
  color: var(--highlightColor);
}
.logo a {
  text-decoration: none;
}
.topLogo a {
  color: #000000;
}
.bottomLogo a {
  color: #ffffff;
}

.body {
  background-color: #ffffff;
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mainBox{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}


.main-nav{
  display: flex;
justify-content: flex-start;
align-items: center;
}




.menu-nav {
 display: flex;
 margin-left: 93px;
}
.menu-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.menu-nav a:hover {
  color: var(--highlightColor);
}
.menu-nav a:focus {
  color: var(--highlightColor);
}
.menu-nav li {
  text-decoration: none;
  list-style-type: none;
}
.menu-nav .item:not(:last-child){
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;

  padding-bottom: 32px;
  padding-top: 32px;
  display: block;

}
.contacts .item:not(:last-child) {
  margin-right: 50px;
}
.contacts a:hover {
  color: var(--highlightColor);
}
.contacts a:focus {
  color: var(--highlightColor);
}
.contacts li{
  list-style: none;
}

.blck{
  margin-bottom: 94px;
}
.hat {
  background-color: var(--backgroundColorBlack);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hat button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--highlightColor);
}
.hat button:hover , .hat button:focus {
  color: var(--backgroundColorBlack);
  background-color: #ffffff;
}

.hat h1 {
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;

  letter-spacing: 0.06em;
  text-align: center;
}

.specifications{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.specifications li {
  list-style-type: none;
  text-decoration: none;
  display: block;
  margin-left: 30px;
  }
.specifications h3 {
  font-weight: 700;
  line-height: 171%;
  color: #212121;
  font-size: 14px;
  font-style: normal;
}
.specifications p {
  font-weight: 400;
  line-height: 171%;
  color: #757575;
  font-size: 14px;
  font-style: normal;
}


.activities{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.activitiesList{
  padding: 0px;
}
.activities li {
  list-style-type: none;
  display: inline;
  margin-left: 30px;
}
.activities h2 {
  font-weight: 700;
  font-size: 36px;
}

.team li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
}
.team p {
  font-weight: normal;
  font-size: 16px;
  color: #757575;
}
.team h4 {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.selection-porfolio li {
  display: inline;
  text-decoration: none;
  list-style-type: none;
}
.selection-porfolio button {
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  background-color: #f5f3fa;
  color: #212121;
  padding-inline: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-size: 16px;
  text-align: center;
}
.selection-porfolio button:hover {
  background-color: var(--highlightColor);
  color: #ffffff;
}
.selection-porfolio button:focus {
  background-color: var(--highlightColor);
  color: #ffffff;
}

.selection-menu {
  font-family: "Roboto", sans-serif;
}
.selection-menu li {
  text-decoration: none;
  list-style-type: none;
  background-color: #ffffff;
  margin-block: 30px;
}
.selection-menu h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.selection-menu p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: var(--backgroundColorBlack);
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer a {
  text-decoration: none;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 200%;
  padding: 0px;
}
.address li {
  list-style-type: none;
  text-decoration: none;
}
.address a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.address a:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.address span {
  color: #ffffff;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
}
.address p {
  color: #ffffff;
}
